*.o
*.a
*.so
.vscode/
attestation/go.sum
attestation/vendor/
attestation/common/pkg/
attestation/kms/pkg
attestation/rac/pkg/
attestation/ras/pkg/
attestation/ras/example/pkg/
attestation/tas/pkg/
attestation/tas/miracl/core/

attestation/tee/demo/pkg/
attestation/tee/tverlib/miracl/big_512_60.h
attestation/tee/tverlib/miracl/bls_FP512BN.h
attestation/tee/tverlib/miracl/config_big_512_60.h
attestation/tee/tverlib/miracl/config_curve_FP512BN.h
attestation/tee/tverlib/miracl/config_field_FP512BN.h
attestation/tee/tverlib/miracl/ecdh_FP512BN.h
attestation/tee/tverlib/miracl/ecp2_FP512BN.h
attestation/tee/tverlib/miracl/ecp_FP512BN.h
attestation/tee/tverlib/miracl/fp12_FP512BN.h
attestation/tee/tverlib/miracl/fp2_FP512BN.h
attestation/tee/tverlib/miracl/fp4_FP512BN.h
attestation/tee/tverlib/miracl/fp_FP512BN.h
attestation/tee/tverlib/miracl/hpke_FP512BN.h
attestation/tee/tverlib/miracl/mpin_FP512BN.h
attestation/tee/tverlib/miracl/pair_FP512BN.h
attestation/tee/tverlib/miracl/build.log